

.header__red {
  height: 100px;
  background-color: #DD1A1A;
  position: relative;
}

.header__img {
  width: min(400px, calc(100% - 20px));
  position: absolute;
  top: 10px;
  bottom: 15px;
  left: 10px;
}

.header__black {
  height: 50px;
  background-color: #181313;
  position: relative;
}

.header__pokeball {
  position: absolute;
  right: 40px;
  top: -20px;
  background-color: #f1eded;
  border: 10px solid #0C0C0C;
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.header__pokeball::after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-color: rgb(48, 37, 37);
  border: 10px solid #0C0C0C;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.header__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: none;
  font-size: 25px;
  cursor: pointer;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  transition: 400ms ease;
}

.header__btn i {
  display: block;
}

.header__btn:hover {
 background-color: #DD1A1A;
 
}